footer{
    background: #151515;
    border-top: 1px solid #02e502;
    padding: 20px 0 10px 0;
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            gap: 4px 11px;
            .tel{
                display: flex;
                align-items: center;
                gap: 2px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }
        }
        &__right{
            display: flex;
            align-items: center;
            gap: 22px;
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #fff;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 19px;
            }
        }
    }
}
@media (max-width:768px){
    footer{
        .footer{
            &__right{
                ul{
                    li{
                        a{
                            img{
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:320px){
    footer{
        padding: 16px 0 50px 0;
        .footer{
            flex-direction: column;
            gap: 20px;
            &__left{
                flex-direction: column;
                gap: 4px;
                .logo{
                    img{
                        width: 110px;
                    }
                }
            }
            &__right{
                p{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    color: #fff;
                }
                gap: 30px;
                flex-direction: column;
            }
            
        }
    }
}