header{
    background: #151515;
    padding-top: 3px;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            gap: 11px;
            .tel{
                display: flex;
                align-items: center;
                gap: 2px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }
        }
        &__right{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                gap: 22px; 
            }
            .langBar{
                margin: 0 51px 0 71px;
                display: flex;
                align-items: center;
                gap: 17px;
                button{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .menu{
                display: flex;
                align-items: center;
                gap: 22px;
                .phone{
                    display: none;
                }
            }
        }

    }
}
@media (max-width:768px){
    header{
        .header{
            &__right{
                ul{
                    li{
                        a{
                            img{
                                width: 30px;
                            }
                        }
                    }
                }
                .langBar{
                    margin: 0 38px 0 32px;
                }
                .menu{
                    button{
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 320px){
    header{
        .header{
            &__left{
                .logo{
                    width: 33px;
                }
                .tel{
                    display: none;
                }
            }
            &__right{
                ul{
                    gap: 7px;
                    li{
                        a{
                            img{
                                width: 20px;
                            }
                        }
                    }
                }
                .langBar{
                    margin: 0 12px;
                    gap: 7px;
                    button{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
                .menu{
                    gap: 10px;
                    button{
                        img{
                            width: 20px;
                        }
                    }
                    .phone{
                        display: flex;
                    }
                }
            }
        }
    }
}