html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: var(--laptop-size)) {
  .container-right {
    padding-left: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: var(--laptop-size)) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

@font-face {
  font-family: "RF Rufo";
  src: url("../fonts/RFRufo-Regular.eot");
  src: local("../fonts/RFRufo-Regular"), local("RFRufo-Regular"), url("../fonts/RFRufo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RFRufo-Regular.woff2") format("woff2"), url("../fonts/RFRufo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RF Rufo";
  src: url("../fonts/RFRufo-Bold.eot");
  src: local("../fonts/RFRufo-Bold"), local("RFRufo-Regular"), url("../fonts/RFRufo-Bold?#iefix") format("embedded-opentype"), url("../fonts/RFRufo-Bold.woff2") format("woff2"), url("../fonts/RFRufo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RF Rufo";
  src: url("../fonts/RFRufo-Light.eot");
  src: local("../fonts/RFRufo-Light"), local("RFRufo-Regular"), url("../fonts/RFRufo-Light?#iefix") format("embedded-opentype"), url("../fonts/RFRufo-Light.woff2") format("woff2"), url("../fonts/RFRufo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
footer {
  background: #151515;
  border-top: 1px solid #02e502;
  padding: 20px 0 10px 0;
}
footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__left {
  display: flex;
  align-items: center;
  gap: 4px 11px;
}
footer .footer__left .tel {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
footer .footer__right {
  display: flex;
  align-items: center;
  gap: 22px;
}
footer .footer__right p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
footer .footer__right ul {
  display: flex;
  align-items: center;
  gap: 19px;
}

@media (max-width: 768px) {
  footer .footer__right ul li a img {
    width: 40px;
  }
}
@media (max-width: 320px) {
  footer {
    padding: 16px 0 50px 0;
  }
  footer .footer {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer__left {
    flex-direction: column;
    gap: 4px;
  }
  footer .footer__left .logo img {
    width: 110px;
  }
  footer .footer__right p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
  }
  footer .footer__right {
    gap: 30px;
    flex-direction: column;
  }
}
header {
  background: #151515;
  padding-top: 3px;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__left {
  display: flex;
  align-items: center;
  gap: 11px;
}
header .header__left .tel {
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
header .header__right {
  display: flex;
  align-items: center;
}
header .header__right ul {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .header__right .langBar {
  margin: 0 51px 0 71px;
  display: flex;
  align-items: center;
  gap: 17px;
}
header .header__right .langBar button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
header .header__right .menu {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .header__right .menu .phone {
  display: none;
}
header .header__right .menu .btnMenu {
  position: relative;
}
header .header__right .menu .btnMenu .pages {
  display: none;
  z-index: 100;
  left: -238px;
  min-width: 271px;
  padding: 17px 0 44px 0;
  background: rgba(24, 24, 24, 0.95);
  position: absolute;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}
header .header__right .menu .btnMenu .pages ul {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  align-items: start;
}
header .header__right .menu .btnMenu .pages ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
header .header__right .menu .btnMenu .pages .line {
  margin-left: 23px;
  display: flex;
  justify-content: center;
  width: 227px;
  height: 2px;
  background-color: #fff;
}
header .header__right .menu .btnMenu .pages .media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 768px) {
  header .header__right ul li a img {
    width: 30px;
  }
  header .header__right .langBar {
    margin: 0 38px 0 32px;
  }
  header .header__right .menu button img {
    width: 30px;
  }
}
@media (max-width: 320px) {
  header .header__left .logo {
    width: 33px;
  }
  header .header__left .tel {
    display: none;
  }
  header .header__right ul {
    gap: 7px;
  }
  header .header__right ul li a img {
    width: 20px;
  }
  header .header__right .langBar {
    margin: 0 12px;
    gap: 7px;
  }
  header .header__right .langBar button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  header .header__right .menu {
    gap: 10px;
  }
  header .header__right .menu button img {
    width: 20px;
  }
  header .header__right .menu .phone {
    display: flex;
  }
  header .header__right .menu .btnMenu .pages {
    margin-top: 5px;
    left: -161px;
    min-width: 181px;
  }
  header .header__right .menu .btnMenu .pages ul {
    margin-left: -10px;
  }
  header .header__right .menu .btnMenu .pages ul li a {
    font-size: 18px;
  }
  header .header__right .menu .btnMenu .pages .line {
    margin-left: 34px;
    display: flex;
    justify-content: center;
    width: 110px;
    height: 2px;
    background-color: #fff;
  }
  header .header__right .menu .btnMenu .pages .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  pointer-events: auto;
}

body {
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

:root {
  --container-width: 1313px;
  --container-padding: 20px;
  --font-family: "RF Rufo", sans-serif;
}

.container {
  box-sizing: content-box;
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
  }
}
body {
  background: #181818;
}

.main {
  background-position-x: -2px;
  z-index: -10;
  background-image: url("../img/bgFirst.jpg");
  background-repeat: no-repeat;
  margin-top: -32px;
  background-size: cover;
  position: relative;
}
.main::after {
  content: "";
  z-index: -5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 26px;
  left: 0;
  background-image: url("../img/backGray.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main .plush {
  position: absolute;
  bottom: 65px;
  right: 674px;
}
.main .plush__content {
  position: relative;
}
.main .plush__content .textSlide {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  left: 12px;
}
.main .plush__content .textSlide #arrowBgRight {
  transform: rotate(180deg);
  margin-bottom: -42px;
}
.main .plush__content .textSlide .points {
  margin-bottom: -20px;
  display: flex;
  gap: 6px;
}
.main .plush__content .textSlide .points li {
  width: 6px;
  height: 6px;
  background-color: #464646;
  border-radius: 50%;
}
.main .plush__content .textSlide .points li:nth-child(2) {
  margin-top: 10px;
}
.main .plush__content .textSlide .points li:nth-child(3) {
  margin-top: 20px;
}
.main .plush__content .textSlide .points li:nth-child(4) {
  margin-top: 30px;
}
.main .plush__content .textSlide .points li:nth-child(5) {
  margin-top: 40px;
}
.main .plush__content .textSlide .points li:nth-child(6) {
  margin-top: 50px;
}
.main .plush__content .textSlide .points .active {
  background-color: #dedcdc;
}

.index {
  padding: 100px 0 54px 0;
}
.index .lines {
  position: absolute;
  left: 0;
  bottom: 148px;
  display: flex;
  align-items: start;
  gap: 30px;
}
.index .lines__drone {
  margin-top: -13px;
}
.index h1 {
  margin-bottom: 154px;
  max-width: 663px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 72px;
  color: #fff;
}
.index .adv {
  display: flex;
  align-items: center;
  gap: 55px;
}
.index .adv li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
.index .adv li span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
}

.title {
  position: relative;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.2);
}
.title span {
  top: 60px;
  z-index: 10;
  position: absolute;
  left: 6px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #02e502;
}

.advan {
  padding: 85px 0 110px 0;
  position: relative;
}
.advan .droneGray {
  position: absolute;
  top: 209px;
  right: 195px;
  z-index: -5;
}
.advan .block {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.advan .block__item {
  padding: 51px 0 62px 30px;
  background: #1e1d1d;
}
.advan .block__item:nth-child(1) {
  grid-area: 1/1/2/2;
}
.advan .block__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.advan .block__item:nth-child(3) {
  grid-area: 1/3/2/4;
}
.advan .block__item:nth-child(4) {
  grid-area: 2/1/3/2;
}
.advan .block__item:nth-child(5) {
  grid-area: 2/2/3/3;
}
.advan .block__item:nth-child(6) {
  grid-area: 2/3/3/4;
}
.advan .block__item h3 {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
}
.advan .block__item p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  color: #fff;
  max-width: 359px;
}

.backText {
  position: absolute;
  left: -12px;
  bottom: 389px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.15);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.product {
  padding-bottom: 110px;
  position: relative;
}
.product .bgLine {
  position: absolute;
  right: 42px;
  bottom: -6px;
  z-index: -5;
}
.product .blHide {
  overflow: hidden;
}
.product .block {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.product .block__item {
  padding: 14px 25px 65px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1e1d1d;
}
.product .block__item .text {
  margin-top: 27px;
}
.product .block__item .text h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  color: #fff;
}
.product .block__item .text ul {
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
}
.product .block__item .text ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 173%;
  color: #fff;
}
.product .block__item .text ul li span {
  font-weight: 300;
}
.product .block__item .text p {
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
}
.product .block__item .text button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #02e502;
  padding: 15px 60px 19px 60px;
  border: 1px solid #02e502;
}

.serv {
  background-image: url("../img/bgDrone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -11;
}
.serv::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 64%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.9);
  z-index: -10;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}
.serv {
  padding: 154px 0 154px 8px;
}
.serv .text h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 72px;
  line-height: 67%;
  color: #fff;
}
.serv .text p {
  margin: 50px 0 70px 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 34px;
  line-height: 159%;
  color: #fff;
  max-width: 593px;
}
.serv .text button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #02e502;
  border: 1px solid #02e502;
  padding: 14px 74px 20px 74px;
}

.textV .textTran {
  position: relative;
}
.textV .textTran p {
  max-width: 1195px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  color: #fff;
}
.textV .textTran .blockView {
  width: 100%;
}
.textV .textTran .blockView .dark {
  position: absolute;
  top: 54px;
  left: 0;
  height: 94px;
  width: 100%;
  background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.63) 100%);
}
.textV .textTran .blockView .arr {
  transition: 0.3s;
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.textV .textTran .blockView .arr button {
  transition: 0.3s;
}
.textV .textTran .blockView .line {
  background-color: #8d8b8b;
  width: 200px;
  height: 2px;
}

.about {
  padding: 110px 0;
}
.about .textTran {
  margin-top: 60px;
}

.map {
  position: relative;
  padding-bottom: 110px;
}
.map .mapImg {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: -23px;
}
.map .mapImg img {
  pointer-events: none;
}
.map .block {
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.map .block ul {
  max-height: 471px;
  display: flex;
  flex-direction: column;
  gap: 0 130px;
  flex-wrap: wrap;
  list-style: auto;
  list-style-type: none;
  counter-reset: num;
}
.map .block ul li {
  counter-increment: num;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 163%;
  color: #fff;
}
.map .block ul li::before {
  content: counter(num) ".";
}

.par .block {
  margin-left: 20px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news {
  padding: 110px 0;
}
.news .block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.news .block .item .new {
  margin-left: 22px;
  display: inline-block;
  position: relative;
}
.news .block .item .new::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: -22px;
  width: 116px;
  height: 116px;
  border-bottom: #02E602 solid 1px;
  border-left: #02E602 solid 1px;
}
.news .block .item .new::after {
  content: "";
  position: absolute;
  top: -22px;
  right: -22px;
  width: 116px;
  height: 116px;
  border-top: #02E602 solid 1px;
  border-right: #02E602 solid 1px;
}
.news .block .item h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
  margin-top: 50px;
}
.news .block .item p {
  margin: 30px 0;
  max-width: 422px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  color: #fff;
}
.news .block .item a {
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #02e502;
  border-bottom: 1px solid #02e502;
}

@media (max-width: 768px) {
  .backText {
    display: none;
  }
  .main {
    margin-top: -17px;
    background-size: 768px 291px;
  }
  .main::after {
    background-size: 768px 291px;
    top: 0;
    background-image: url("../img/backGray768.png");
  }
  .main .plush {
    right: 268px;
    bottom: 52px;
  }
  .main .plush__content .plushBg img {
    width: 74px;
  }
  .main .plush__content .textSlide {
    top: 4px;
    left: 6px;
  }
  .main .plush__content .textSlide #arrowBgRight {
    margin-bottom: -18px;
  }
  .main .plush__content .textSlide button img {
    width: 15px;
  }
  .main .plush__content .textSlide .points {
    margin-bottom: -8px;
    gap: 3px;
  }
  .main .plush__content .textSlide .points li:nth-child(2) {
    margin-top: 5px;
  }
  .main .plush__content .textSlide .points li:nth-child(3) {
    margin-top: 10px;
  }
  .main .plush__content .textSlide .points li:nth-child(4) {
    margin-top: 15px;
  }
  .main .plush__content .textSlide .points li:nth-child(5) {
    margin-top: 20px;
  }
  .main .plush__content .textSlide .points li:nth-child(6) {
    margin-top: 25px;
  }
  .main .plush__content .textSlide .points li {
    width: 3px;
    height: 3px;
  }
  .index {
    padding: 44px 0 28px 0;
  }
  .index h1 {
    font-size: 30px;
    max-width: 337px;
    margin-bottom: 78px;
  }
  .index .lines {
    bottom: 101px;
    left: 10px;
    gap: 18px;
  }
  .index .lines__drone {
    margin-top: -15px;
  }
  .index .lines img:first-child {
    width: 346px;
  }
  .index .lines img:last-child {
    width: 35px;
  }
  .index .adv {
    gap: 30px;
  }
  .index .adv li {
    gap: 6px;
    font-size: 18px;
  }
  .index .adv li span {
    font-size: 24px;
  }
  .title {
    font-size: 64px;
  }
  .title span {
    top: 30px;
    left: 5px;
    font-size: 30px;
  }
  .advan {
    padding: 80px 0;
  }
  .advan .droneGray {
    display: none;
  }
  .advan .block {
    grid-column-gap: 20px;
    grid-row-gap: 32px;
    margin-top: 38px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .advan .block__item {
    padding: 40px 0 35px 31px;
  }
  .advan .block__item h3 {
    font-size: 20px;
  }
  .advan .block__item p {
    font-size: 16px;
    max-width: 278px;
  }
  .advan .block__item:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .advan .block__item:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .advan .block__item:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .advan .block__item:nth-child(4) {
    grid-area: 2/2/3/3;
  }
  .advan .block__item:nth-child(5) {
    grid-area: 3/1/4/2;
  }
  .advan .block__item:nth-child(6) {
    grid-area: 3/2/4/3;
  }
  .product {
    padding-bottom: 80px;
  }
  .product .bgLine {
    display: none;
  }
  .product .block__item img {
    max-width: initial;
    width: 373px;
  }
  .serv {
    padding: 72px 0 86px 11px;
  }
  .serv::after {
    width: 60%;
    height: 101%;
    top: -1px;
    clip-path: polygon(0 0, 100% 0, 76% 100%, 0 100%);
  }
  .serv {
    background-image: url("../img/bgDrone768.png");
  }
  .serv .text h2 {
    font-size: 30px;
  }
  .serv .text p {
    margin: 30px 0 50px 0;
    font-size: 18px;
    max-width: 321px;
  }
  .serv .text button {
    font-size: 24px;
    padding: 16px 50px;
  }
  .textV .textTran .blockView .dark {
    top: initial;
    bottom: 0;
  }
  .textV .textTran p {
    max-width: 704px;
  }
  .about {
    padding: 80px 0;
  }
  .about .textTran {
    margin-top: 44px;
  }
  .map {
    overflow: hidden;
    padding-bottom: 62px;
  }
  .map .block {
    justify-content: center;
    margin-top: 750px;
  }
  .map .mapImg {
    z-index: -5;
    top: -322px;
    right: -260px;
    bottom: initial;
  }
  .map .mapImg img {
    width: 1020px;
    max-width: initial;
  }
  .par .block {
    margin-top: 34px;
    margin-left: 13px;
  }
  .par .block a:nth-child(1) img {
    width: 220px;
  }
  .par .block a:nth-child(2) img {
    width: 48px;
  }
  .par .block a:nth-child(3) img {
    width: 206px;
  }
  .par .block a:nth-child(4) img {
    width: 86px;
  }
  .news {
    padding: 80px 6px;
  }
  .news .points {
    display: flex;
    margin-top: 52px;
  }
  .news .block {
    margin-top: 50px;
  }
  .news .block .item h3 {
    font-size: 20px;
    margin-top: 60px;
  }
  .news .block .item p {
    font-size: 16px;
    max-width: 318px;
  }
  .news .block .item .new::before {
    bottom: -20px;
    left: -20px;
  }
  .news .block .item .new::after {
    top: -20px;
    right: -20px;
  }
  .news .block .item .new img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 252px;
    width: 294px;
  }
  .news .block .item:nth-child(3) {
    display: none;
  }
}
.points {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.points .active {
  background-color: #fff !important;
}
.points .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #464646;
}

@media (max-width: 320px) {
  .main {
    background-size: 718px 280px;
    background-position-x: -301px;
    background-position-y: -18px;
  }
  .main::after {
    margin-top: -4px;
    background-size: 718px 274px;
    background-position-x: -301px;
  }
  .main .plush {
    top: 196px;
    right: 159px;
    bottom: initial;
  }
  .main .plush__content .plushBg img {
    width: 61px;
  }
  .main .plush__content .textSlide #arrowBgRight {
    margin-bottom: -15px;
  }
  .main .plush__content .textSlide {
    top: 2px;
    left: 4px;
  }
  .main .plush__content .textSlide .points li:nth-child(2) {
    margin-top: 4px;
  }
  .main .plush__content .textSlide .points li:nth-child(3) {
    margin-top: 8px;
  }
  .main .plush__content .textSlide .points li:nth-child(4) {
    margin-top: 12px;
  }
  .main .plush__content .textSlide .points li:nth-child(5) {
    margin-top: 16px;
  }
  .main .plush__content .textSlide .points li:nth-child(6) {
    margin-top: 20px;
  }
  .main .plush__content .textSlide .points {
    margin-bottom: -6px;
    gap: 1px;
  }
  .index {
    padding: 260px 0 60px 0;
  }
  .index h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    margin-bottom: 66px;
  }
  .index .lines {
    gap: 14px;
    left: 4px;
    bottom: 120px;
  }
  .index .lines img:first-child {
    width: 253px;
  }
  .index .lines img:last-child {
    width: 34px;
  }
  .index .adv {
    gap: 20px;
  }
  .index .adv li {
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
  }
  .index .adv li span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
  }
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 178%;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.2);
  }
  .title span {
    top: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #02e502;
  }
  .advan {
    padding: 0;
  }
  .advan .block {
    margin: 19px 0 30px 0;
    display: flex;
  }
  .advan .block__item {
    display: none;
  }
  .advan .block__item:nth-child(1) {
    display: block;
  }
  .pointsBar {
    display: flex !important;
  }
  .product {
    padding: 60px 0;
  }
  .product .block {
    gap: 13px;
    margin-top: 14px;
  }
  .product .block__item {
    padding: 20px 18px 63px 18px;
  }
  .product .block__item .text h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
  }
  .product .block__item .text ul {
    margin: 20px 0 30px 0;
  }
  .product .block__item .text ul li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 172%;
    color: #fff;
  }
  .product .block__item .text p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 40px;
  }
  .product .block__item .text button {
    padding: 15px 45px 20px 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #02e502;
  }
  .product .block__item img {
    width: 218px;
  }
  .serv {
    padding: 220px 0 42px 0;
    background-image: url("../img/bgDrone320.png");
  }
  .serv::after {
    width: 100%;
    height: 68%;
    top: initial;
    bottom: 0;
    clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);
  }
  .serv .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .serv .text h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
  }
  .serv .text button {
    padding: 20px 75px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #02e502;
  }
  .serv .text p {
    margin: 20px 0 30px 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #fff;
  }
  .textV .textTran p {
    max-height: 132px;
    overflow: hidden;
  }
  .textV .textTran .blockView .dark {
    bottom: -34px;
    height: 69px;
  }
  .textV .textTran .blockView .arr {
    gap: 21px;
  }
  .textV .textTran .blockView .arr .line {
    width: 110px;
  }
  .about {
    padding: 60px 0 129px 0;
  }
  .about .textTran {
    margin-top: 30px;
  }
  .map .mapImg {
    top: -70px;
    right: 0;
  }
  .map .mapImg img {
    width: initial;
  }
  .map .mapImg img:nth-child(1) {
    display: none;
  }
  .map .mapImg img:nth-child(2) {
    display: flex;
  }
  .map .block {
    margin-top: 330px;
  }
  .map .block ul {
    max-height: 330px;
    gap: 0 17px;
  }
  .map .block ul li {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 169%;
    color: #fff;
  }
  .par .block {
    margin: 19px 0 0 0;
  }
  .par .block a:nth-child(1) img {
    width: 92px;
  }
  .par .block a:nth-child(2) img {
    width: 20px;
  }
  .par .block a:nth-child(3) img {
    width: 86px;
  }
  .par .block a:nth-child(4) img {
    width: 36px;
  }
  .news .points {
    margin-top: 42px;
  }
  .news {
    padding: 60px 0;
  }
  .news .block {
    margin-top: 67px;
  }
  .news .block .item:nth-child(2) {
    display: none;
  }
  .news .block .item .new img {
    width: 262px;
    height: 224px;
  }
}
.pointsBar {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.pointsBar .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #464646;
}
.pointsBar .active {
  background-color: #fff;
}

.mapImg img:nth-child(2) {
  display: none;
}

.bread ul {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
.bread ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
.bread ul .active a {
  color: #02e502;
  pointer-events: none;
}

.backR {
  bottom: 360px !important;
  right: -14px !important;
  transform: rotate(90deg);
  left: initial !important;
}

.ento {
  padding: 110px 0 30px 0;
}
.ento .plush {
  bottom: 62px;
  right: 678px;
}
.ento__text {
  padding-left: 10px;
}
.ento__text h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 72px;
  max-width: 487px;
  color: #fff;
}
.ento__text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  color: #fff;
  max-width: 458px;
  margin: 40px 0 70px 0;
}
.ento__text ul {
  display: grid;
  grid-template-columns: repeat(3, 233px);
  grid-template-rows: repeat(2, 75px);
}
.ento__text ul li:nth-child(3) p {
  font-size: 24px;
  line-height: 167%;
}
.ento__text ul li:nth-child(6) p {
  font-size: 24px;
  line-height: 167%;
}
.ento__text ul li {
  gap: 12px;
  display: flex;
  align-items: start;
}
.ento__text ul li p {
  margin: 0;
  max-width: 179px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  color: #fff;
}

.entoBread {
  padding: 70px 0 30px 0;
}

.entoServ .textTran p {
  max-width: 1085px;
}
.entoServ .textTran {
  margin-top: 32px;
}
.entoServ .textTran .blockView .dark {
  top: 40px;
}

.entoB .backText {
  left: -52px;
  bottom: 329px;
}

.use {
  pointer-events: none;
  padding: 174px 0 75px 0;
  position: relative;
}
.use .block {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.use .block .item {
  padding: 55px 33px 62px 28px;
  background: #1e1d1d;
}
.use .block .item .top {
  display: flex;
  align-items: center;
  gap: 0 13px;
}
.use .block .item .top h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
}
.use .block .item .bottom {
  margin-top: 14px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  color: #fff;
  max-width: 359px;
}

.prob {
  position: relative;
  padding-bottom: 75px;
}
.prob ul {
  margin-top: 60px;
  counter-reset: num;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 0;
}
.prob ul li {
  min-width: 390px;
  gap: 21px;
  max-width: 344px;
  display: flex;
  align-items: flex-start;
  counter-increment: num;
}
.prob ul li p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 167%;
  color: #fff;
  max-width: 283px;
}
.prob ul li .num {
  margin-top: 14px;
  content: counter(num);
}
.prob ul li .num::before {
  padding: 7px 16px 9px 16px;
  content: counter(num);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  border: solid 2px #02e502;
  border-radius: 50%;
}
.prob .grDr {
  position: absolute;
  bottom: 48px;
  left: 0;
}
.prob .bgL {
  position: absolute;
  right: 102px;
  bottom: 0px;
}

.ab {
  padding-bottom: 110px;
  position: relative;
}
.ab__text {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  color: #fff;
  max-width: 1043px;
}
.ab .left .img {
  margin-right: -301px;
}
.ab .left .gray {
  padding: 80px 85px 68px 345px;
}
.ab .right .img {
  margin-left: -301px;
}
.ab .right .gray {
  padding: 80px 360px 66px 65px;
}
.ab__block {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ab__block .img {
  position: relative;
  padding: 34px;
}
.ab__block .img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 134px;
  height: 134px;
  border-top: solid #02E502 1px;
  border-right: solid #02E502 1px;
}
.ab__block .img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 134px;
  height: 134px;
  border-bottom: solid #02E502 1px;
  border-left: solid #02E502 1px;
}
.ab__block .img img {
  width: 486px;
}
.ab__block .gray {
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08);
  background: #1e1d1d;
  flex-direction: column;
  display: flex;
}
.ab__block .gray .texts {
  flex-direction: column;
  display: flex;
  gap: 46px;
}
.ab__block .gray .texts p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 172%;
  max-width: 620px;
  color: #fff;
}
.ab__block .gray .vred {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.ab__block .gray .vred h3 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
}
.ab__block .gray .vred ul {
  margin-top: 31px;
  margin-left: 62px;
  max-width: 380px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px 40px;
}
.ab__block .gray .vred ul li {
  min-width: 100px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.work {
  position: relative;
  padding-bottom: 110px;
}
.work .lBg {
  position: absolute;
  z-index: -10;
  top: 0px;
  right: 170px;
}
.work .bgKn {
  position: absolute;
  z-index: -10;
  left: 80px;
  top: 90px;
}
.work__block {
  position: relative;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 65px;
  grid-row-gap: 30px;
}
.work__block .itemVis {
  background: #1e1d1d;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08);
  padding: 30px 25px 58px 30px;
}
.work__block .itemVis .text {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.work__block .itemVis .text p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 22px;
  line-height: 173%;
  color: #fff;
  min-width: 184px;
  max-width: 202px;
}
.work__block .itemVis .text .num {
  padding: 7px 16px 9px 16px;
  margin-top: 10px;
  border-radius: 50%;
  border: solid 2px #02e502;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
.work__block .itemT {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__block .itemT p {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: rgba(70, 70, 70, 0.15);
  min-width: 200px;
  max-width: 320px;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
.work__block .arr1 {
  position: absolute;
  transform: rotate(24deg);
  bottom: 210px;
  left: 266px;
}
.work__block .arr2 {
  position: absolute;
  transform: rotate(-74deg);
  bottom: 210px;
  left: 631px;
}
.work__block .arr3 {
  transform: rotate(24deg);
  bottom: 210px;
  right: 180px;
  position: absolute;
}

.email {
  position: relative;
  padding: 110px 0;
}
.email__block {
  background: #1e1d1d;
  padding: 23px 178px 116px 69px;
}
.email__block p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  color: #fff;
  max-width: 524px;
  margin-top: 30px;
}
.email__block form {
  position: relative;
  z-index: 10;
  margin: 50px 0 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.email__block form .inputs {
  display: flex;
  align-items: center;
  gap: 42px;
}
.email__block form .inputs .input {
  position: relative;
  cursor: pointer;
}
.email__block form .inputs .input input {
  cursor: pointer;
  width: 200px;
  overflow-x: hidden;
  caret-color: #4b4a4a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  padding-bottom: 11px;
  border-bottom: 1px solid #4b4a4a;
}
.email__block form .inputs .input input:not(:-moz-placeholder) + label {
  bottom: 38px;
  font-size: 12px;
  left: 4px;
}
.email__block form .inputs .input input:not(:placeholder-shown) + label {
  bottom: 38px;
  font-size: 12px;
  left: 4px;
}
.email__block form .inputs .input label {
  transition: 0.3s;
  left: 11px;
  bottom: 15px;
  position: absolute;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.email__block form button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #02e502;
  border: 1px solid #02e502;
  padding: 12px 52px 18px 52px;
}
.email__block a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.email .bgLine {
  position: absolute;
  top: 20px;
  right: 200px;
}
.email .grDr {
  position: absolute;
  top: 0;
  right: 322px;
}

@media (max-width: 768px) {
  .ento {
    padding: 53px 0 0 0;
  }
  .ento__text h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: #fff;
  }
  .ento__text p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 172%;
    color: #fff;
    max-width: 323px;
    margin: 25px 0 37px 0;
  }
  .ento__text ul {
    grid-template-columns: 154px 279px;
    grid-template-rows: repeat(3, 30px);
    grid-gap: 18px 29px;
  }
  .ento__text ul li:nth-child(3) p {
    font-size: 18px;
    line-height: 172%;
  }
  .ento__text ul li:nth-child(6) p {
    font-size: 18px;
    line-height: 172%;
  }
  .ento__text ul li img {
    width: 30px;
  }
  .ento__text ul li p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 172%;
    color: #fff;
    max-width: initial;
  }
  .ento .plush {
    bottom: 85px;
    right: 267px;
  }
  .use {
    padding: 138px 0 80px 0;
  }
  .use .block {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .use .block .item {
    padding: 56px 32px 49px 30px;
  }
  .prob {
    padding-bottom: 80px;
  }
  .prob ul {
    gap: 26px 0;
    margin-top: 46px;
  }
  .prob ul li {
    min-width: initial;
  }
  .prob ul li p {
    max-width: 261px;
  }
  .prob .grDr {
    display: none;
  }
  .prob .bgL {
    display: none;
  }
  .ab__text {
    max-width: 695px;
  }
  .ab__block {
    justify-content: initial;
    flex-direction: column;
  }
  .ab__block .img {
    margin-bottom: -231px;
  }
  .ab__block .gray .texts {
    gap: 40px 0;
  }
  .ab__block .gray .texts p {
    max-width: 582px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 169%;
    color: #fff;
  }
  .ab .left .img {
    margin-right: initial;
  }
  .ab .left .gray {
    padding: 271px 66px 72px 60px;
  }
  .ab .right .gray {
    padding: 271px 66px 72px 60px;
  }
  .ab .right .img {
    order: -1;
    margin-left: initial;
  }
  .work__block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
  }
  .work__block .item:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .work__block .item:nth-child(5) {
    grid-area: 1/2/2/3;
  }
  .work__block .item:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .work__block .item:nth-child(6) {
    grid-area: 2/2/3/3;
  }
  .work__block .item:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  .work__block .item:nth-child(7) {
    grid-area: 3/2/4/3;
  }
  .work__block .item:nth-child(4) {
    grid-area: 4/1/5/2;
  }
  .work__block .item:nth-child(8) {
    grid-area: 4/2/5/3;
  }
  .work .bgKn {
    top: 390px;
    left: 0px;
  }
  .work .arr1 {
    bottom: initial;
    top: 178px;
    left: 300px;
  }
  .work .arr2 {
    transform: rotate(114deg);
    bottom: 414px;
    left: 301px;
  }
  .work .arr3 {
    bottom: 170px;
    right: 285px;
  }
  .email {
    padding: 110px 0 80px 0;
  }
  .email__block {
    padding: 30px 30px 50px 28px;
  }
  .email__block p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 172%;
    color: #fff;
    max-width: 299px;
  }
  .email__block a {
    margin-left: 14px;
  }
  .email__block form {
    margin: 30px 0 20px 0;
  }
  .email__block form .inputs {
    gap: 30px;
  }
  .email__block form .inputs .input input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    width: 147px;
  }
  .email__block form .inputs .input label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
  }
  .email__block form button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #02e502;
    padding: 6px 21px 9px 21px;
  }
  .email .grDr {
    right: 9px;
  }
  .email .grDr img {
    width: 326px;
  }
  .email .bgLine {
    top: 14px;
    right: -10px;
  }
  .email .bgLine img {
    width: 550px;
  }
}
@media (max-width: 320px) {
  .zlat .title {
    min-width: 303px;
    margin-left: -4px;
  }
  .ento {
    padding: 256px 0 0 0;
  }
  .ento .plush {
    top: 196px;
    right: 159px;
    bottom: initial;
  }
  .ento__text {
    padding-left: 0;
  }
  .ento__text h1 {
    font-size: 28px;
    min-width: 267px;
  }
  .ento__text p {
    font-size: 16px;
    line-height: 169%;
    max-width: 267px;
    margin: 20px 0 36px 0;
  }
  .ento__text ul {
    grid-template-columns: 120px 140px;
    grid-template-rows: 60px 50px 87px;
    grid-gap: 24px 23px;
  }
  .ento__text ul li {
    gap: 8px;
  }
  .ento__text ul li p {
    max-width: 102px;
  }
  .entoBread {
    padding: 60px 0 30px 0;
  }
  .entoServ .textTran .blockView .dark {
    top: initial;
  }
  .use {
    padding: 93px 0 60px 0;
  }
  .use .block {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 30px;
  }
  .use .block .item {
    display: none;
    padding: 30px 38px 33px 30px;
  }
  .use .block .item:nth-child(1) {
    display: block;
  }
  .use .block .item .top {
    gap: 0 16px;
  }
  .use .block .item .top h3 {
    font-size: 18px;
  }
  .use .block .item .top img {
    width: 30px;
  }
  .use .block .item .bottom {
    font-size: 16px;
    max-width: 218px;
    margin-top: 12px;
  }
  .prob {
    padding-bottom: 60px;
  }
  .prob .title {
    line-height: initial;
  }
  .prob ul {
    margin-top: 30px;
    gap: 20px 0;
  }
  .prob ul li .num::before {
    padding: 3px 12px;
    font-size: 20px;
  }
  .prob ul li {
    gap: 14px;
  }
  .prob ul li p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 172%;
    color: #fff;
  }
  .ab {
    padding-bottom: 60px;
  }
  .ab .left .gray {
    padding: 133px 7px 43px 7px;
  }
  .ab .right .gray {
    padding: 133px 0 43px 7px;
  }
  .ab__text {
    font-size: 16px;
    max-width: 290px;
  }
  .ab__block {
    margin-top: 40px;
  }
  .ab__block .img {
    margin-bottom: -113px;
    padding: 16px;
  }
  .ab__block .img::before {
    width: 66px;
    height: 58px;
  }
  .ab__block .img::after {
    width: 66px;
    height: 58px;
  }
  .ab__block .img img {
    width: 240px;
  }
  .ab__block .gray .texts p {
    font-size: 14px;
    line-height: 179%;
  }
  .ab__block .gray .vred {
    margin-top: 32px;
  }
  .ab__block .gray .vred h3 {
    gap: 12px;
  }
  .ab__block .gray .vred h3 img {
    width: 30px;
  }
  .ab__block .gray .vred h3 {
    font-size: 18px;
    line-height: 172%;
  }
  .ab__block .gray .vred ul {
    gap: 22px 0;
    justify-content: space-between;
    max-width: 221px;
    margin-top: 18px;
    margin-left: 42px;
  }
  .ab__block .gray .vred ul li:nth-child(3) {
    order: 1;
  }
  .work {
    padding-bottom: 45px;
  }
  .work .bgKn {
    display: none;
  }
  .work__block {
    gap: 50px 0;
    margin: 44px 0 60px 0;
    display: flex;
    flex-direction: column;
  }
  .work__block .item:nth-child(5) {
    order: 1;
  }
  .work__block .item:nth-child(1) {
    display: block;
  }
  .work__block .item:nth-child(2) {
    display: block;
  }
  .work__block .itemVis {
    display: none;
  }
  .work__block .itemT {
    display: none;
  }
  .work__block .arr1 {
    display: none;
  }
  .work__block .arr2 {
    display: none;
  }
  .work__block .arr3 {
    display: none;
  }
  .email {
    padding: 56px 0 60px 0;
    overflow-x: hidden;
  }
  .email__block {
    width: 110%;
    padding: 13px 33px 61px 26px;
    margin-left: -15px;
  }
  .email__block p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 169%;
    max-width: 240px;
  }
  .email__block form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .email__block form .inputs {
    display: flex;
    flex-direction: column;
  }
  .email__block form .inputs .input input {
    width: 258px;
  }
  .email__block form button {
    padding: 10px 99px 14px 99px;
    margin-top: 30px;
  }
  .email__block a {
    margin-left: 4px;
  }
  .email .grDr {
    right: 0px;
    top: 0;
  }
  .email .grDr img {
    width: 158px;
  }
  .email .bgLine {
    top: 0;
    right: 0;
  }
  .email .bgLine img {
    width: 270px;
  }
}/*# sourceMappingURL=main.css.map */